.c-form-item {

  height: 238px;

  > label {
    flex: none;
    width: 4em;
  }

  .input-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: auto;
    height: 100%;
    padding-right: 20px;

  }

  .placeholder {
    color: #ccc;
  }
}

form {
  .c-form-item {
    border-bottom: none;
  }

  .input-wrap {
  }
}